menu "Senserion SHT4x Sensor Verification"
    config OCS_TOOL_SHT4x_VERIFIER_I2C_MASTER_SDA_GPIO
        int "I2C master SDA GPIO"
        default 21
        help
            I2C master SDA GPIO.

    config OCS_TOOL_SHT4x_VERIFIER_I2C_MASTER_SCL_GPIO
        int "I2C master SCL GPIO"
        default 22
        help
            I2C master SCL GPIO.

    config OCS_TOOL_SHT4x_VERIFIER_POWER_GPIO
        int "Power GPIO"
        default -1
        help
            GPIO pin to enable power for the sensor.
endmenu
