name: ESP32

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  firmware_build:
    runs-on: ubuntu-latest
    outputs:
      build_version: ${{ steps.version_formatter.outputs.build_version }}
    strategy:
      matrix:
        project:
          - project_name: "unittest"
            product_name: "tests"
            config: ".env/unittest_configuration"

          - project_name: "ds18b20-verifier"
            product_name: "ds-onewire"
            config: ".env/ds18b20_verifier_configuration"

          - project_name: "ds-rom-code-scanner"
            product_name: "ds-onewire"
            config: ".env/ds_rom_code_scanner_configuration"

          - project_name: "sht41-verifier"
            product_name: "sht41"
            config: ".env/sht41_verifier_configuration"
    env:
      SOURCE_PATH: project
      IDF_PATH: esp-idf
      IDF_VERSION: v5.5.1
      CONFIGURATION_PATH_CCACHE: .env/ccache
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          path: ${{ env.SOURCE_PATH }}
          submodules: recursive

      - name: check library license headers
        env:
          CI_COMPONENTS_PATH: ${{ env.SOURCE_PATH }}/ci-components
          PROJECT_PATH: ${{ env.SOURCE_PATH }}/components
        shell: bash
        run: |
          ${{ env.SOURCE_PATH }}/ci-components/scripts/fmt/check_license.sh

      - name: check library formatting
        env:
          PROJECT_PATH: ${{ env.SOURCE_PATH }}/components
        shell: bash
        run: |
          ${{ env.SOURCE_PATH }}/ci-components/scripts/fmt/cpp/check_format.sh

      - name: check project license headers
        env:
          CI_COMPONENTS_PATH: ${{ env.SOURCE_PATH }}/ci-components
          PROJECT_PATH: ${{ env.SOURCE_PATH }}/projects/${{ matrix.project.project_name }}
        shell: bash
        run: |
          ${{ env.SOURCE_PATH }}/ci-components/scripts/fmt/check_license.sh

      - name: check project formatting
        env:
          PROJECT_PATH: ${{ env.SOURCE_PATH }}/projects/${{ matrix.project.project_name }}
        shell: bash
        run: |
          ${{ env.SOURCE_PATH }}/ci-components/scripts/fmt/cpp/check_format.sh

      - name: setup ESP32 environment
        uses: ./project/ci-components/.github/actions/esp32/env
        with:
          IDF_PATH: ${{ env.IDF_PATH }}
          IDF_VERSION: ${{ env.IDF_VERSION }}

      - name: setup system environment
        uses: ./project/ci-components/.github/actions/system/env

      - name: setup ccache
        uses: ./project/ci-components/.github/actions/system/ccache
        with:
          CONFIGURATION_PATH_CCACHE: ${{ env.CONFIGURATION_PATH_CCACHE }}

      - name: format firmware build version
        id: version_formatter
        uses: ./project/ci-components/.github/actions/core/version

      - name: prepare firmware configuration
        uses: ./project/ci-components/.github/actions/esp32/config
        with:
          PROJECT_NAME: ${{ matrix.project.project_name }}
          PRODUCT_NAME: ${{ matrix.project.product_name }}
          BUILD_VERSION: ${{ steps.version_formatter.outputs.build_version }}
          BUILD_CONFIG_PATH: ${{ matrix.project.config }}
          PROJECT_CONFIG_PATH: ${{ env.SOURCE_PATH }}/projects/config.yml

      - name: build firmware
        uses: ./project/ci-components/.github/actions/esp32/build
        with:
          IDF_PATH: ${{ env.IDF_PATH }}
          PROJECT_PATH: ${{ env.SOURCE_PATH }}/projects/${{ matrix.project.project_name }}
          CONFIGURATION_PATH_CCACHE: ${{ env.CONFIGURATION_PATH_CCACHE }}
          CONFIGURATION_PATH_PROJECT: ${{ matrix.project.config }}

      - name: upload firmware
        uses: ./project/ci-components/.github/actions/esp32/upload
        with:
          PROJECT_PATH: ${{ env.SOURCE_PATH }}/projects/${{ matrix.project.project_name }}
          ARTIFACT_NAME: ${{ matrix.project.project_name }}-${{ steps.version_formatter.outputs.build_version }}

  firmware_release:
    runs-on: ubuntu-latest
    needs: firmware_build
    if: github.ref_type == 'tag'
    permissions:
      contents: write
    env:
      SOURCE_PATH: project
      PROJECT_NAME: control-components
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: ${{ env.SOURCE_PATH }}
          submodules: recursive

      - name: Create release
        uses: ./project/ci-components/.github/actions/core/release-create
        with:
          DOWNLOAD_ARTIFACT_PATH: artifacts
          RELEASE_ARCHIVE_NAME: "${{ env.PROJECT_NAME }}-${{ needs.firmware_build.outputs.build_version }}.zip"
